@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&family=Mada:wght@200..900&family=Montserrat:ital,wght@1,100;1,200;1,300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #ebebed;
}

header{
    padding: 30px 0px 20px 0px;
}

header .logo{
    font-size: 30px;
    font-family: mada;
    color: #33384b;
    font-weight: 800;
}


header .logo span{
    color: #f33434;
}

header nav ul{
    float: right;   
}

header nav ul li{
    float: left;
    padding-right: 35px;
}

header nav ul li a{
    font-size: 15px;
    font-weight: 600;
    font-family: mada;
    text-decoration: none;
    color: #33384b;
}

header nav ul li a:hover{
    color: #f33434;
}

.toggle-button {
    font-size: 30px;
    color: #33384b;
    border: none;
}

.toggle-button:active{
    transform: rotate(5deg) scale(1.01);

}

/*section-a*/

section.section-a{
    height: 600px;
    padding-bottom: 30px;
}

.section-a .theme{
    position: relative;
    top: 200px;
}

.section-a .theme h1{
    font-family: mada;
    font-size: 70px;
    font-weight: 800;
    padding-bottom: 20px;
    text-shadow: 50px;
    line-height: 60px;
    color: #33384b;
}

.section-a .theme p{
    font-family: mada;
    font-size: .9em;
    text-align: justify;
    font-weight: 100;
    /* color: #33384b; */
}

.section-a .theme a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ef4456;
    background-image: linear-gradient(to bottom right, #ed5f47, #ee4445);
    padding: 18px 60px;
    margin-top: 30px;
    border-radius: 2px;
    font-family: mada;
    font-weight: 100;
    font-size: .8em;
    transition: background-color 0.3s, color 0.3s, 0.3s;
}

.section-a .theme a:hover{
    /* For browsers that do not support gradients */
    background-color: #d32e3e;
    background-image: linear-gradient(to bottom right, #ee4445, #ed5f47);
}


.section-a .theme-img{
    position: relative;
    top: 200px;
    background-color: #ebebed;
    left: 20px;
}

.section-a .theme-img img{
    top: 200px;
}


/*section-b*/

.section-b{
    background-color: #d7d7f3;
    position: relative;
    padding-bottom: 100px;
    bottom: -110px;
} 



.section-b .social-icons{
    display: flex;
    position: relative;
    top: 60px;
}

.section-b .social-icons span{
    flex-grow: 1;
    position: relative;
    font-size: 1.55em;
    padding-bottom: 20px;
}

.section-b .social-icons span:nth-child(1){
    padding-bottom: 20px;
    border-bottom: 2px solid #212c52;
}

.section-b .social-icons span:nth-child(2){
    padding-bottom: 20px;
    border-bottom: 2px solid #0a0a0a;
}

.section-b .social-icons span:nth-child(3){
    padding-bottom: 20px;
    border-bottom: 2px solid #f33434;
    border-color: #f33434;
}


.section-b .g-content{
    position: relative;
    padding-left: 50px;
    margin-top: 10%;
}

.section-b .bg-content-dark{
    display: flex;
    position: absolute;
    margin-left: 25%;
    margin-bottom: 20%;
    top: -160px;
}

.section-b .bg-content-dark img{
    margin-left: 70%;
    width: 200px;
    clear: both;
}

.section-b .g-content h1{
    color: #ebebed;
    font-family: mada;
    font-weight: 100;
    padding-bottom: 20px;
}

.section-b .g-content p{
    color: #ebebed;
    font-family: mada;
    font-size: 14px;
    font-weight: 200;
    text-align: start;
}

.section-b .g-content img{
    max-width: 100%;
    display: flex;
}

.section-b .bg-dark{
    position: absolute;
    top: -65px;
    height: 240px;
    width: 65%;
    float: right;
    right: 0;
    background-color: #33384b;
    background-image: linear-gradient(to bottom right, #212c52, #33384b);
}

.section-b-gallery {
    height: 2100px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 150px;
}


.gallery .grid-50 h1{
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    margin-top: 7%;
    color: #33384b;
    margin-left: 80%;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.content .pic-story{
    display: flex;
    position: relative;
    height: 300px;
    background-color: #ebebed;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 20px;
}

.content .pic-story h1{
    font-size: 245px;
    font-weight: 900;
    position: absolute;
    display: flex;
    top: 100px;
    font-family: none;
    left: -10px;
    color: #d7d7f3;
}

.content .pic-story hr{
    top: -50;
    left: 50%;
    max-width: 20px;
    position: relative;
    border: 1px solid #f33434;
    margin: 0 auto;
    transform: rotate(90deg);
}

.content .pic-story p{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 50px;
    font-weight: 500;
    position: relative;
    color: #33384b;
    line-height: 20px;
}

.grid-contaiener .display-pic img{
    position: relative;
    display: flex;
}

.section-b-third-gallery-story{
    /* display: flex; */
    height: 550px;
    overflow: hidden;
    margin-bottom: 200px;
}

.section-b-third-gallery-story .grid-40{
    margin-right: 7%;
}

.section-b-third-gallery-story .grid-44 h1{
    font-size: 70px;
    /* margin-left: 49%; */
    color: #33384b;
}

.section-b-third-gallery-story .grid-25 p {
    color: #33384b;
    font-weight: 300;
}

.section-b-third-gallery-story .grid-25 {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.section-b-third-gallery-story .short-gallery{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 600px;
    top: 50;
    /* top: -377; */
    /* margin-left: 40%;
    overflow: hidden; */
}

.section-b-third-gallery-story .short-gallery .grid-17{
    margin-right: 20px;
    height: 100%;
}

.section-b-fourth-gallery-story {
    height: 550px;
    margin-top: 70px;
    /* line-height: 50%; */
    font-size: 10px;
    color: #33384b;
}

.section-b-fourth-gallery-story h1{
    font-size: 60px !important;
    position: absolute;
    font-weight: 400 !important;
    line-height: 100px;
}



.section-b-fourth-gallery-story h1{
    color: #33384b !important;
}

.section-b-fourth-gallery-story h1 span{
    background-color: #33384b;
    border-radius: 0px 0px 15px 0px;
    color: #ebebed;
    padding: 10px;
}

.section-b-fourth-gallery-story .hr{
    margin-top: 200px;
    padding-left: 10px;
    border-left: 2px solid #f33434;
    height: 100px;
    margin-bottom: 15px;
}

.section-b-fourth-gallery-story p{
    color: #33384b !important;
    font-weight: 200 !important;
}

.section-b-fourth-gallery-story blockquote {
    color: #33384b;
    font-size: 30px;
    vertical-align: super;
}

.section-b-fourth-gallery-story img{
    margin-left: 50px !important;
    /* display: flex; 
    position: absolute; */

}




/*section c */

.section-c{
    margin-top: 200px;
}

.section-c .grid-wrap{
    height: 400px;
    display: flex;
    position: relative;
    margin-bottom: 100px;
    padding: 0;
}

.section-c .grid-container .grid-60{
    position: relative;
    overflow: hidden;
    padding: 0;
    
}

.grid-container .grid-wrap .grid-30{
    padding-left: 30px;
    height: 400px;
    width: 350px;
    background-color: #fff;
    
}

.grid-container .grid-wrap .grid-30 ul{
    margin-top: 110px;
    line-height: 30px;
}

.grid-container .grid-wrap .grid-30 .h1{
    position: absolute;
    top: -90;
    margin-right: 200px;
    margin-left: -100px;
    padding-left: 10px !important;
}

.grid-container .grid-wrap .grid-30 .h1 h1{
    position: relative;
    display: inline-block;
    padding-left: 10px;
    font-size: 30px ;
    line-height: 40px;
}

.grid-container .grid-wrap .grid-30 h4{
    bottom: 70;
    position: absolute;
    
}

.grid-container .grid-wrap .grid-30 h1{
    margin-top: 110px;
    position: absolute;
    background-color: #fff;
    font-size: 50px;
}

.grid-container .grid-wrap .grid-30 sup{
    font-size: 20px;
    vertical-align: super;
}

.grid-container .grid-wrap .grid-10{
    position: absolute;
    height: 400px;
    width: 60px;
    margin-left: 350px;
    background-color: #865e5e;
}

.grid-container .grid-wrap .grid-50 {
    position: absolute;
    background-color: #f33434;
    height: 400px;
    width: 60px;
}

.grid-container .grid-wrap img{
    height: auto;
    position: relative;
    display: block;
    max-width: 100%;
}

.section-d{
    background-color: #ee4445;
    background-image: linear-gradient(to bottom, #ed5f47, #ee4445);
    height: 1000px;
    width: 100%;
}

.section-d hr{
    border: 4px solid #212c52 ;
}



.section-d .grid-container .grid-flex-wrap{
    /* display: flex;
    flex-direction: row; */
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
}

.section-d .grid-container .grid-flex-wrap h1{
    font-size: 60px;
    font-family: mada;
    font-weight: 100;
    color: #fff;
    line-height: 100px;
    padding-bottom: 70px;
    border-bottom: 2px solid #fff;
}

.section-d .grid-container .grid-flex-wrap h1 span{
    color: #ed5f47;
    background-color: #fff;
}


.section-d .grid-container .grid-form-container .grid-20{
    border-top: 1px solid #fff;
    position: relative;
    top: 150;
    right: 40px;
    height: 200px;
    font-size: 25px;
    color: #fff;
    font-family: mada;
    font-weight: 200;
    line-height: 35px;
}

.section-d .grid-container .grid-form-container .grid-20 h1{
    top: -60;
    /* left: 25; */
    position: absolute;
    /* margin-bottom: px; */
    font-size: 30;
    /* padding: 5px; */
    /* border-bottom: 1px solid #fff; */
}

.section-d .grid-container .grid-55{
    width: 55%;
    display: flex;
    border-top: 1px solid #fff;
    position: relative;
    box-sizing: border-box;
    top: 150;
    height: 400px;
    font-size: 25px;
    color: #fff;
    font-family: mada;
    font-weight: 200;
    line-height: 35px;
}

.section-d .grid-container .grid-55 form{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0px;
    background-color: rgba(212, 34, 34, 0);
    resize: none;
    color: #ebebed;
    height: 400px;
    font-size: 14px;
    font-family: open sans;  
}

.section-d .grid-container .grid-55 form input{
    padding: 2%;
    margin-bottom: 10px;
    width: 49%;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    resize: none;
}

.section-d .grid-container .grid-55 form input::placeholder{
    color: #fff;
}


.section-d .grid-container .grid-55 form textarea{
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    padding: 5%;
    border: 1px solid #fff;
    height: 300px;
    resize: none;
}

.section-d .grid-container .grid-55 form textarea::placeholder{
    color: #fff;
}

.section-d .grid-container .grid-55 form button{
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #ff000000;
    color: #fff;
    border: 1px solid #fff;
    transition: all 150ms ease-in-out;
}

.section-d .grid-container .grid-55 form button:hover{
    background-color: #fff;
    color: #ef4456;
}

.section-d .grid-container .grid-55 h1{
    width: 90%;
    top: -60;
    left: 25;
    position: absolute;
    font-size: 30;
}

.section-d .grid-container .grid-25{
    border-top: 1px solid #fff;
    position: relative;
    top: 150;
    height: 200px;
    left: 40px;
    font-size: 25px;
    color: #fff;
    font-family: mada;
    font-weight: 200;
    line-height: 35px;
}

.section-d .grid-container .grid-25 h1{
    top: -60;
    position: relative;
    font-size: 30;
}

@media(min-width:768px){
    .toggle-button{
        display: none;
    }
}

@media (max-width:430px) {
    body{
        overflow-x: hidden;
        box-sizing: border-box;
        max-width: 100%;
    }

    .logo{
        all: unset;
        font-size: 5px;
    }
    
      
    .toggle-button{
        background: none !important;
        display: grid;
        position: relative;
        margin-left: 150px;
    }

    nav{
        right: 50px;
        position: relative;
    }

    nav ul{
        border-radius: 5%;
        height: 200px;
        position: absolute;
        padding: 30%;
        margin-top: 30px;
        background-color: transparent;
        background-image: linear-gradient(to bottom, #e1e1e1cc, #f0f0ffcc) !important;
        backdrop-filter: blur(5px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 1;
    }

    nav ul li{
        align-items: center;
        padding-bottom: 50px;
    }

    
    .section-a .theme h1{
        margin-left: 20px;
        margin-top: 200px;
        font-size: 60px;
    }

    .section-a .theme p{
        margin-left: 20px;
        width: 360px;
    }

    .section-a .theme-img{
        top: -350;
    }
    .section-a .theme-img img{
        margin-top: -200;
        width: 350px;
    }

    .section-a .theme a{
        margin-left: 110px;
    }

    .hidden{
        display: none;
    }

    .show{
        display: block;
    }

    .section-b{
        width: 100%;
        bottom: -300px;
    }

    .section-b .social-icons{
        display: flex;
        position: relative;
        top: -120;
        clear: both;
        z-index: 1;
    }

    .section-b .bg-dark{
        height: 800px;
        width: 100%;
    }

    .section-b .g-content{
        top: 70;
        left: -150;
    }
    .section-b .bg-content-dark{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 0;
        margin-bottom: 0;
    }

    .section-b .bg-content-dark img{
        display: flex;
        position: absolute;
        clear: both;
        left: -100;
        width: 100%;
    }

    .section-b-gallery{
        top: 100;
    }

}

@media(max-width: 375px){

    body{
        box-sizing: border-box;
        max-width: 100%;
        overflow-x: hidden;
    }

    .logo{
        all: unset;
        font-size: 5px;
    }
    
      
    .toggle-button{
        background: none !important;
        display: grid;
        position: relative;
        margin-left: 150px;
    }

    nav{
        right: 50px;
        position: relative;
    }

    nav ul{
        border-radius: 5%;
        height: 200px;
        position: absolute;
        padding: 30%;
        margin-top: 30px;
        background-color: transparent;
        background-image: linear-gradient(to bottom, #e1e1e1cc, #f0f0ffcc) !important;
        backdrop-filter: blur(5px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 1;
    }

    nav ul li{
        align-items: center;
        padding-bottom: 50px;
    }

    .section-a .theme h1{
        font-size: 50px;
    }

    .section-a .theme p{
        width: 300px;
    }

    .section-a .theme-img{
        top: -350;
    }
    .section-a .theme-img img{
        margin-top: -150;
        width: 250px;
    }

    .section-a .theme a{
        margin-left: 80px;
    }

    .hidden{
        display: none;
    }

    .show{
        display: block;
    }

    .section-b{
        width: 425px;
        bottom: -300px;
    }
    .section-b .bg-dark{
        height: 800px;
        width: 100%;
    }

    .section-b .g-content{
        top: 170;
    }

    .section-b .social-icons{
        display: flex;
        position: relative;
        top: -120;
        clear: both;
        z-index: 1;
    }

}

    @media(max-width: 320px){

        body{
            box-sizing: border-box;
            max-width: 320px;
            overflow-x: hidden;
        }

        .logo{
            all: unset;
            font-size: 5px;
        }
        
          
        .toggle-button{
            background: none;
            display: grid;
            position: relative;
            margin-left: 150px;
        }
    
        nav{
            right: 50px;
            position: relative;
        }
    
        nav ul{
            border-radius: 5%;
            height: 200px;
            position: absolute;
            padding: 30%;
            margin-top: 30px;
            background-color: transparent;
            background-image: linear-gradient(to bottom, #e1e1e1cc, #f0f0ffcc) !important;
            backdrop-filter: blur(5px);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            z-index: 1;
        }
    
        nav ul li{
            align-items: center;
            padding-bottom: 50px;
        }

        .section-a .theme{
            top: 0;
            justify-content: center;
        }

        .section-a .theme h1{
            margin-top: 300;
            font-size: 40px;
            line-height: 3rem;
        }

        .section-a .theme p{
            width: 250px;
        }

        .section-a .theme-img{
            top: -500;
            right: 100;
        }
    
        .section-a .theme a{
            margin-left: 110px;
        }
    
        .hidden{
            display: none;
        }
    
        .show{
            display: block;
        }
    
        .section-b{
            width: 425px;
            bottom: -300px;
        }
        .section-b .bg-dark{
            height: 500px;
            width: 100%;
        }
    
        .section-b .g-content{
            top: 170;
        }


}